body {
    text-align: center;
    align-items: center;
    margin: 0;
}


#scoreBoard {
max-width: 600px;
justify-content: space-between;
display: flex;
margin-inline: auto;
align-items: center;    
padding-bottom: 10px;
}


#gameCanvas {
    border: 1px solid black;
}

